extends templates/_default

block content
  .structure
    .structure__levels
      .structure__level1
        include templates/partials/top-head.pug
      .structure__level2
        .head.head_blue
          include templates/partials/head.pug
        .head.head_darkgreen
          include templates/partials/head.pug
        .head.head_red
          include templates/partials/head.pug
        .head.head_lightgreen
          include templates/partials/head.pug
        .head.head_orange
          include templates/partials/head.pug
        .head.head_violet
          include templates/partials/head.pug
      .structure__overlay



