.dept
  .dept__title Управление координации и контроля реализации проектной деятельности
  .dept__head
    .dept__avatar
      a(href="#")
        img(src="../assets/images/avatar-user.jpg")
    div
      .dept__head-text Андрей Соловец
      .dept__head-position Начальник отдела
  .dept__employees
    .dept__employees-avatars
      .dept__avatar
        a(href="#")
          img(src="../assets/images/avatar-user.jpg")
      .dept__avatar
        a(href="#")
          img(src="../assets/images/avatar-user.jpg")
    div(style="position: relative;")
      a.dept__employees-count.structure-more-employee(href="#") 7 сотрудников
      include employees-popup
