.employess-popup
  .employess-popup__content
    .employess-popup__employee.employess-popup__employee_head
      .employess-popup__avatar
        a(href="#")
          img(src="assets/images/avatar-user.jpg")
      div
        a.employess-popup__head-text(href="#") Андрей Соловец
        .employess-popup__head-position Начальник отдела

    .employess-popup__employee
      .employess-popup__avatar
        a(href="#")
          img(src="assets/images/avatar-user.jpg")
      div
        a.employess-popup__head-text(href="#") Барсукова Диана
        .employess-popup__head-position Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям Менеджер по коммуникациям

    .employess-popup__employee
      .employess-popup__avatar
        a(href="#")
          img(src="assets/images/avatar-user.jpg")
      div
        a.employess-popup__head-text(href="#") Питухина Ольга
        .employess-popup__head-position Аналитик

  .employess-popup__angly
