.head__info
  .head__photo
    img(src="assets/images/avatar-user.jpg")
  .head__bio
    .head__name Иван Кидяев
    .head__position Заместитель руководителя
.head__department
  .department
    include department.pug
  .department
    include department.pug
  .department
    include department.pug

